<div class="content">

  <select class="checkbox">
    <option class="checkbox__option" value="">ジャンルを選択してください</option>
    <option value="1">和食</option>
    <option value="2">中華</option>
    <option value="3">洋食</option> 
    <option value="4">イタリアン</option> 
  </select>

  <select class="checkbox">
    <option class="checkbox__option" value="">エリアを選択してください</option>
    <option value="1">アジアビル近辺</option>
    <option value="2">フォンティスビル近辺</option>
    <option value="3">新大宗ビル</option>  
  </select>

  <div class="btns">
    <button class="start-btn">START</button>
  </div>
</div>

